  .bigScreen {
    position: fixed;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right,#7f7fd5,#91eae4);
    z-index: 4;
    top: 0;
    left: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    padding: 0px 20px;
    display: none;
  }

  .bigScreen .bigScreen__text{
      z-index: 4;
  }
  
  .bigScreen::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to left,#86a8e7,#91eae4);
    z-index: 1;
    transition: opacity 0.5s linear;
    opacity: 0;
  }

  .bigScreen:hover::before {
    opacity: 3;
  }

  @media screen and (min-width:550px){
      .bigScreen{
          display: flex;
      }
  }